<a routerLink='/efficiency-metric/metric/{{urn}}' class="govuk-back-link">Back to the efficiency metric</a>

<hr class="govuk-section-break govuk-section-break--l">

<h1 class="govuk-heading-xl">Tools to improve your school's efficiency</h1>

<div class="govuk-grid-row govuk-body-m">
  <div class="govuk-grid-column-two-thirds">
    <p>There are several tools from the DfE and third-party providers we recommend as useful to help schools see how
      they can help improve their school's efficiency.
    </p>
    <ul class="govuk-list govuk-list--number govuk-!-font-size-19">
      <li class="govuk-!-font-weight-bold">
        <h2 class="govuk-heading-m">Financial planning checklist</h2>
        <p class="govuk-body-m">The DfE provides tools and information to help schools with financial planning and benchmarking. </p>
        <a class="govuk-link govuk-!-font-weight-normal" rel="external noopener noreferrer" target="_blank" title="Page will open in a new page" href="https://www.gov.uk/guidance/school-resource-management-checklist">Use the financial planning checklist</a>
        <hr class="govuk-section-break govuk-section-break--l">
      </li>
      <li class="govuk-!-font-weight-bold">
        <h2 class="govuk-heading-m">Ask the right questions</h2>
        <p class="govuk-body-m">
          The Top 10 checks for financial planning explains what to look at when you’re preparing to question and challenge school budgets. It’s aimed at governors but useful for everyone.
        </p>
        <a class="govuk-link govuk-!-font-weight-normal" rel="external noopener noreferrer" target="_blank" title="Page will open in a new page" href="https://www.gov.uk/guidance/school-resource-management-top-10-planning-checks-for-governors">Use the top 10 financial planning checks</a>
        <hr class="govuk-section-break govuk-section-break--l">
      </li>
      <li class="govuk-!-font-weight-bold">
        <h2 class="govuk-heading-m">Evaluate different strategies for improving learning</h2>
        <p class="govuk-body-m">
          The Education Endowment Foundation has a toolkit that provides evidence-based summaries about different strategies for improving learning. You can see how much each strategy costs and how much impact it has.
        </p>
        <a class="govuk-link govuk-!-font-weight-normal" rel="external noopener noreferrer" target="_blank" title="Page will open in a new page" href="https://educationendowmentfoundation.org.uk/evidence-summaries/teaching-learning-toolkit/">Use the toolkit</a>
        <hr class="govuk-section-break govuk-section-break--l">
      </li>
    </ul>
  </div>
</div>
<!--
<div class="govuk-grid-row govuk-body-m">
  <div class="govuk-grid-column-one-third">
    <div class="clipboard-image-wrapper clipboard-image-wrapper--blue">
      <img alt="Tools to improve efficiency" src="assets/images/a_clipboard.png" class="clipboard-image clipboard-image--blue">
    </div>
    <h4 class="govuk-heading-m">Tools to improve efficiency</h4>
    <p>There are several tools from the DfE and third-party providers we recommend as useful to help schools see how they can help improve their school's efficiency.</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-m">
      <li><a rel="external noopener noreferrer" target="_blank" title="Page will open in a new page" class="govuk-link" href="https://www.gov.uk/guidance/school-resource-management-checklist">DfE's financial planning checklist</a></li>
      <li><a rel="external noopener noreferrer" target="_blank" title="Page will open in a new page" class="govuk-link" href="https://www.gov.uk/guidance/school-resource-management-top-10-planning-checks-for-governors">Top 10 checks for financial planning</a></li>
      <li><a rel="external noopener noreferrer" target="_blank" title="Page will open in a new page" class="govuk-link" href="https://educationendowmentfoundation.org.uk/evidence-summaries/teaching-learning-toolkit/">Evaluate different strategies for improving learning</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="clipboard-image-wrapper clipboard-image-wrapper--navy">
      <img alt="Tools to improve efficiency" src="assets/images/b_chat.png" class="clipboard-image clipboard-image--navy">
    </div>
    <h4 class="govuk-heading-m">Talk to other schools</h4>
    <p>Contact some of the schools to see what knowledge you could share and if you could collaborate. We've listed the school's address, telephone number and headteacher for you.</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-m">
      <li><a routerLink='/efficiency-metric/contact-details/{{urn}}' class="govuk-link">Show the contact details of schools in the Efficiency Metric Rank</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="clipboard-image-wrapper clipboard-image-wrapper--turquise">
      <img alt="Tools to improve efficiency" src="assets/images/c_chart.png" class="clipboard-image clipboard-image--turquise">
    </div>
    <h4 class="govuk-heading-m">Start a benchmark comparison</h4>
    <p>You can benchmark either the top 30% of similar schools in the Efficiency Metric Ranking or choose them manually.</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-m">
      <li><a routerLink="/efficiency-metric/comparison-type/{{urn}}/{{name}}" class="govuk-link">Compare with other schools</a></li>
    </ul>
  </div>
</div> -->
