@import "govuk-frontend/govuk/core/_typography.scss";

.clipboard-image-wrapper{
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.clipboard-image-wrapper--blue{
  background-color: govuk-colour("blue");
}

.clipboard-image-wrapper--navy{
  background-color: govuk-colour("dark-blue");
}

.clipboard-image-wrapper--turquise{
  background-color: govuk-colour("turquoise");
}

.clipboard-image{
  max-width: 300px;
  margin-bottom: 10px;
}

.clipboard-image--blue{
  padding: 20px 94px;
}

.clipboard-image--navy{
  padding: 38px 73px;
}

.clipboard-image--turquise{
  padding: 35px 80px;
}
