
<a routerLink='/efficiency-metric/{{urn}}' class="govuk-back-link">Back to the efficiency metric ranking</a>

<hr class="govuk-section-break govuk-section-break--l">

<h1 class="govuk-heading-xl">Ways to improve your school's Efficiency Metric Ranking</h1>

<div class="govuk-grid-row govuk-body-s">
  <div class="govuk-grid-column-one-third">
    <div class="clipboard-image-wrapper clipboard-image-wrapper--blue">
      <img alt="Tools to improve efficiency" src="assets/images/a_clipboard.png" class="clipboard-image clipboard-image--blue">
    </div>
    <h4 class="govuk-heading-s">Tools to improve efficiency</h4>
    <p>There are several tools from the DfE and third-party providers we recommend as useful to help schools see how they can help improve their school's efficiency.</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-s">
      <li><a rel="external noopener noreferrer" target="_blank" title="Page will open in a new page" class="govuk-link" href="https://www.gov.uk/guidance/school-resource-management-checklist">DfE's financial planning checklist</a></li>
      <li><a rel="external noopener noreferrer" target="_blank" title="Page will open in a new page" class="govuk-link" href="https://www.gov.uk/guidance/school-resource-management-top-10-planning-checks-for-governors">Top 10 checks for financial planning</a></li>
      <li><a rel="external noopener noreferrer" target="_blank" title="Page will open in a new page" class="govuk-link" href="https://educationendowmentfoundation.org.uk/evidence-summaries/teaching-learning-toolkit/">Evaluate different strategies for improving learning</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="clipboard-image-wrapper clipboard-image-wrapper--navy">
      <img alt="Tools to improve efficiency" src="assets/images/b_chat.png" class="clipboard-image clipboard-image--navy">
    </div>
    <h4 class="govuk-heading-s">Talk to other schools</h4>
    <p>Contact some of the schools to see what knowledge you could share and if you could collaborate. We've listed the school's address, telephone number and headteacher for you.</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-s">
      <li><a routerLink='/efficiency-metric/contact-details/{{urn}}' class="govuk-link">Show the contact details of schools in the Efficiency Metric Rank</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="clipboard-image-wrapper clipboard-image-wrapper--turquise">
      <img alt="Tools to improve efficiency" src="assets/images/c_chart.png" class="clipboard-image clipboard-image--turquise">
    </div>
    <h4 class="govuk-heading-s">Start a benchmark comparison</h4>
    <p>You can benchmark either the top 30% of similar schools in the Efficiency Metric Ranking or choose them manually.</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-s">
      <li><a routerLink="/efficiency-metric/comparison-type/{{urn}}/{{name}}" class="govuk-link">Compare with other schools</a></li>
    </ul>
  </div>
</div>
