<a routerLink='/efficiency-metric/{{urn}}' class="govuk-back-link">Back to the efficiency metric ranking</a>

<hr class="govuk-section-break govuk-section-break--l">

<h1 class="govuk-heading-xl">How the efficiency metric ranking is calculated</h1>

<p class="govuk-body-m">
  The metric provides an <span class="govuk-!-font-weight-bold">indication</span> of a schools efficiency compared to 49 statistically similar schools based on certain characteristics.
</p>

<ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold char-list">
  <li>Pupils eligible for FSM in the last 6 years</li>
  <li>Pupils with a SEN statement or EHCP</li>
  <li>Number of pupils</li>
  <li>School phase</li>
  <li>School type</li>
</ul>

<p class="govuk-body-m govuk-!-font-weight-regular intro-list-p">We divide a school's progress score (KS2 or Progress 8) by their per pupil expenditure which allows us to rank the 50 schools and find a their rank.
  <span class="govuk-body-m govuk-!-font-weight-bold intro-formula">Progress score / Expenditure per pupil = Efficiency Metric Ranking</span>
</p>

<p class="govuk-body-m">
  <img src="assets/images/icon-important.png" class="large-icon" />
  <span>It is <span class="govuk-!-font-weight-bold">not an accountability measure</span>. i.e. schools should not be held to account for their efficiency metric ranking.</span>
</p>
