<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{settings.sfbDomain}}/school/detail?urn={{urn}}">{{name}}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{settings.sfbDomain}}/efficiency-metric/how-it-works">How the efficiency metric works</a>
    </li>
  </ol>
</div>

