<h5>Contact Us</h5>
<hr>

<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

  <div class="controls">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="form_name">First name</label>
          <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your first name"
            required data-error="Firstname is required." formControlName="firstName">
          <bfv-messages></bfv-messages>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="form_lastname">Last name</label>
          <input id="form_lastname" type="text" name="surname" class="form-control"
            placeholder="Please enter your last name" required data-error="Lastname is required."
            formControlName="lastName">
          <bfv-messages></bfv-messages>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="form_email">Email</label>
          <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email"
            required data-error="Valid email is required." formControlName="email">
          <bfv-messages></bfv-messages>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="form_department">Please specify your need</label>
          <select id="form_department" name="department" class="form-control" required
            data-error="Please specify your need.">
            <option *ngFor="let item of (departments)" [value]="item">{{ item }}</option>
          </select>
          <bfv-messages></bfv-messages>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="form_message">Message</label>
          <textarea id="form_message" name="message" class="form-control" placeholder="Please enter your Message"
            rows="4" required data-error="Please, leave us a message." formControlName="message"></textarea>
          <bfv-messages></bfv-messages>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-success btn-send" type="submit">Send message</button>
        <button class="btn btn-secondary" type="button" style="margin-left: 10px;" (click)="onReset()">Reset</button>
      </div>
    </div>

    <div class="row" *ngIf="success">
      <div class="col-md-12" style="margin-top: 20px;">
        {{message}}
      </div>
    </div>

  </div>

</form>
