@import "govuk-frontend/govuk/all";

.details-list{
  column-count: 3;
}

.em-rank-text{
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
}

.sort-select-wrapper {
  float: left;
  margin-top: 25px;
  margin-bottom: 0;

  @include govuk-media-query($from: tablet) {
    float: right;
    margin-top: 0;
    margin-bottom: -30px;
  }
}

.sort-select-wrapper__label {
  display: inline;
  margin-right: 5px;
}

.sort-select-wrapper__select {
  display: inline;
}

.map-toggle-button{
  font-size: 19px;
  font-weight: bold;
  float: left;
  margin-top: 5px;
}
