.details-list{
  column-count: 3;
}

.em-rank-text{
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
}

.sort-select-wrapper {
  float: right;
  margin-bottom: -10px;
}

.sort-select-wrapper__label {
  display: inline;
  margin-right: 5px;
}

.sort-select-wrapper__select {
  display: inline;
}
