<a routerLink='/efficiency-metric/metric/{{urn}}' class="govuk-back-link">Back to the efficiency metric</a>

<hr class="govuk-section-break govuk-section-break--m">

<h1 class="govuk-heading-xl">Contact details</h1>

<hr *ngIf='!isMobileScreen' class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a [routerLink]="" (click)='onResultSectionStateToggle()' class="govuk-link a-button map-toggle-button">
      <img src="assets/images/icon-map.png" class="small-icon" alt=""/>
      <span *ngIf='this.resultSectionState === "list-view"'>View on a map</span>
      <span *ngIf='this.resultSectionState === "map-view"'>View as list</span>
    </a>
  </div>
  <div class="govuk-grid-column-one-half float-left" [hidden]='resultSectionState === "map-view"'>
    <div class="govuk-form-group">
      <div class="sort-select-wrapper">
        <label class="govuk-label sort-select-wrapper__label" for="sort">Sorted by</label>
        <select class="govuk-select sort-select-wrapper__select" id="sort" name="sort" [(ngModel)]='sort'
          (change)='sortSchools()'>
          <option value="Rank">Efficiency metric</option>
          <option value="AlphabeticalAZ">Alphabetical (A-Z)</option>
          <option value="AlphabeticalZA">Alphabetical (Z-A)</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div id="mapWrapper" [hidden]='resultSectionState === "list-view"'>
  <app-contact-map [visibleSchoolList]='visibleSchoolList'></app-contact-map>
</div>

<div id="listWrapper" [hidden]='resultSectionState === "map-view"'>
  <div *ngIf='!isMobileScreen' id="schoolList">
    <div *ngFor='let neighbour of visibleSchoolList; let i = index'>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <a class="govuk-link govuk-body-m govuk-!-font-weight-bold school-link"
        href="{{settings.sfbDomain}}/school/detail?urn={{neighbour.urn}}">
        {{neighbour.name}}
      </a>
      <hr class="govuk-section-break govuk-section-break--m">
      <ul class="details-list govuk-list govuk-body-s">
        <li><strong>Address: </strong><span>{{neighbour.address}}</span></li>
        <li><strong>Telephone: </strong><span>{{neighbour.telephone}}</span></li>
        <li><strong>Headteacher: </strong><span>{{neighbour.headTeacher}}</span></li>
        <li><strong>School phase: </strong><span>{{neighbour.overallPhase}} ({{neighbour.pupils}} pupils)</span></li>
        <li><strong>School type: </strong><span>{{neighbour.schoolType}}</span></li>
        <li><strong>Efficiency metric: </strong><span class="em-rank-text em-rank-text--{{neighbour.rank}}">{{neighbour.rank}}</span>
          </li>
      </ul>
    </div>
  </div>
  <div *ngIf="isMobileScreen">
    <table class="govuk-table mobile-table" *ngFor='let neighbour of visibleSchoolList'>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">School</th>
        <td class="govuk-table__cell">
          <a class="govuk-link govuk-body-m govuk-!-font-weight-bold school-link"
            href="{{settings.sfbDomain}}/school/detail?urn={{neighbour.urn}}">
            {{neighbour.name}}
          </a>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Address</th>
        <td class="govuk-table__cell">{{neighbour.address}}</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Telephone</th>
        <td class="govuk-table__cell">{{neighbour.telephone}}</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Headteacher</th>
        <td class="govuk-table__cell">{{neighbour.headTeacher}}</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">School phase</th>
        <td class="govuk-table__cell">{{neighbour.overallPhase}} ({{neighbour.pupils}} pupils)</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">School type</th>
        <td class="govuk-table__cell">{{neighbour.schoolType}}</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Rank</th>
        <td class="govuk-table__cell"><span class="em-rank-text em-rank-text--{{neighbour.rank}}">{{neighbour.rank}}</span></td>
      </tr>
    </table>
  </div>
</div>
