<h1 class="govuk-heading-xl">Select comparison type</h1>
<p class="govuk-body-s">
  Comparing to
  <span class="highlight">
    <a href="{{settings.sfbDomain}}/school/detail?urn={{urn}}">
      <span class="govuk-!-font-weight-bold">{{name}}</span>
    </a>
  </span>
</p>
<hr class="govuk-section-break govuk-section-break--m">

<form #emTypeForm="ngForm">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          How would you like to compare?
        </h2>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="top-schools" name="comparisonType" type="radio" [(ngModel)]='comparisonType' [value]="'EfficiencyTop'" required>
          <label class="govuk-label govuk-radios__label" for="top-schools">
            Compare against the top 30% in the efficiency metric
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="manual" name="comparisonType" type="radio" [(ngModel)]='comparisonType' [value]="'EfficiencyManual'" required>
          <label class="govuk-label govuk-radios__label" for="manual">
            Manually select schools from the efficiency metric
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <hr class="govuk-section-break govuk-section-break--l">

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <button class="govuk-button" data-module="govuk-button" type="submit" (click)='onContinue()'>
        Continue
      </button>
    </div>
  </div>

</form>

