<app-hiw-bread-crumb [urn]='urn' [name]='name'></app-hiw-bread-crumb>

<h1 class="govuk-heading-xl">Introduction</h1>

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">
    <ol class="govuk-list govuk-list--number">
      <li class="govuk-body-l govuk-!-font-weight-bold">The efficiency metric
        <p class="govuk-body-m govuk-!-font-weight-regular intro-list-p">The metric provides an <span class="govuk-!-font-weight-bold">indication</span> of a schools efficiency compared to 49 statistically similar schools based on certain characteristics.</p>
      </li>
      <li class="govuk-body-l govuk-!-font-weight-bold">How it is calculated
        <p class="govuk-body-m govuk-!-font-weight-regular intro-list-p">We divide a school's progress (KS2 or Progress 8) by their per pupil expenditure which gives us a score which allows us to rank the 50 schools.
          <span class="govuk-body-m govuk-!-font-weight-bold intro-formula">KS2 progress <span class="italic">or</span> Progress 8 / Expenditure per pupil = Efficiency metric score</span>
        </p>
      </li>
      <li class="govuk-body-l govuk-!-font-weight-bold">What you should do with the information
        <p class="govuk-body-m govuk-!-font-weight-regular intro-list-p">It is intended to be used as a <span class="govuk-!-font-weight-bold">prompt for discussion</span> at and between schools about how a school can improve the way they allocate resource to have a positive impact on pupil progress.</p>
      </li>
    </ol>
    <p>
      <img src="assets/images/icon-important.png" class="large-icon" />
      <span>It is <span class="govuk-!-font-weight-bold">not an accountability measure</span>. i.e. schools should not be held to account for their efficiency metric ranking.</span>
    </p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l">

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">
    <button class="govuk-button" data-module="govuk-button" routerLink="/efficiency-metric/metric/{{urn}}">
      Continue to efficiency metric
    </button>
    <a href="{{settings.sfbDomain}}/school/detail?urn={{urn}}"
      class="govuk-link govuk-link--no-visited-state back-button">Back</a>
  </div>
</div>
