@import "govuk-frontend/govuk/core/_typography.scss";

.em-rank-content-wrapper{
  padding-top: 30px;
}

.em-rank-icon{
  display: inline-block;
  @include govuk-font($size: 36, $weight: bold);
}

.em-rank-icon__text{
  height: 2em;
  width: 2em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
}

.em-rank-content{
  display: inline-block;
  padding-left: 20px;
}

