<app-metric-bread-crumb [urn]='model.urn' [name]='model.name' class="hide-in-print"></app-metric-bread-crumb>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds expand-in-print">
    <h1 class="govuk-heading-xl main-header">Efficiency Metric Ranking</h1>
    <p class="govuk-body-s">
      Results for
      <span class="highlight">
        <span class="govuk-!-font-weight-bold">{{model.name}}</span>
      </span>
    </p>

    <div class="govuk-grid-row hide-in-print">
      <div class="govuk-grid-column-one-half">
        <a [routerLink]="" class="govuk-link a-button govuk-!-font-weight-bold" (click)="onDownload()">
          <img src="assets/images/icon-file-download.png" class="small-icon" alt=""/>
          <span id="downloadPage">Download page</span>
        </a>
        <a [routerLink]="" class="govuk-link a-button govuk-!-font-weight-bold ml-4" (click)='onPrintPage()'>
          <img src="assets/images/icon-print.png" class="small-icon" alt=""/>
          <span>Print page</span>
        </a>
      </div>
    </div>

    <div class="govuk-grid-row govuk-body em-rank-content-wrapper">
      <div class="govuk-grid-column-full">
        <div class="em-rank-icon">
          <span class="em-rank-icon__text em-rank-text--{{model.rank}}">{{model.rank}}</span>
        </div>
        <div class="em-rank-content">
          <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">This school's Efficiency Metric Ranking is
            {{model.rank}}</span>
          <br>
          <span>This means <span class="govuk-!-font-weight-bold">{{(model.rank-1)*0.1  | percent}}</span> of similar
            schools get better pupil progress for a similar amount of money. </span>
          <a [routerLink]="" (click)='emTable.onColumnDetailsShow()' class="govuk-link">See this school's ranking</a>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third hide-in-print">
    <div class="links-wrapper">
      <h2 class="govuk-heading-s">About the efficiency metric</h2>
      <ul class="govuk-list govuk-body-s govuk-!-margin-bottom-4">
        <li><a class="govuk-link" routerLink='/efficiency-metric/how-it-is-calculated/{{model.urn}}'>How the efficiency metric ranking is calculated</a></li>
        <li><a class="govuk-link" routerLink='/efficiency-metric/ways-to-improve/{{model.urn}}/{{model.name}}'>Tools to improve school's efficiency</a></li>
        <li><a class="govuk-link" routerLink='/efficiency-metric/contact-details/{{model.urn}}'>Contact details of schools in the table</a></li>
      </ul>
      <button class="govuk-button bm-button" (click)="onGotoBenchmark()">Benchmark with these schools</button>
    </div>
  </div>
</div>


<app-em-table [model]='model' #emTable></app-em-table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Methodology</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">Close</span>
    </button>
  </div>
  <div class="modal-body">
    <p>The efficiency metric algorithm looks for 50 schools across the country which are similar to your school based on:</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-s govuk-!-font-weight-bold ul-two-cols">
      <li>Pupils eligible for FSM in the last 6 years</li>
      <li>Number of pupils</li>
      <li>Pupils with a SEN statement or EHCP</li>
      <li>School phase</li>
      <li>School type</li>
    </ul>
    <p>We divide these school's progress score by their expenditure per pupil (we will standardise the score) allowing us to rank the 50 schools.</p>
    <p class="govuk-!-font-weight-bold">
      Standardised progress score / Expenditure per pupil = Efficiency Metric Ranking
    </p>
  </div>
</ng-template>


