<app-metric-bread-crumb [urn]='model.urn' [name]='model.name' class="hide-in-print"></app-metric-bread-crumb>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds expand-in-print">
    <h1 class="govuk-heading-xl main-header" *ngIf="model.schoolType === 'Maintained'">Efficiency Metric:  {{settings.maintainedTerm.substring(5,9)}}</h1>
    <h1 class="govuk-heading-xl main-header" *ngIf="model.schoolType === 'Academy'">Efficiency Metric:  {{settings.academyTerm.substring(5,9)}}</h1>
    <p id="resultsFor" class="govuk-body-s">
      Results for
      <span class="highlight">
        <a href="{{settings.sfbDomain}}/school/detail?urn={{urn}}">
          <span class="govuk-!-font-weight-bold">{{model.name}}</span>
        </a>
      </span>
      <span> using
        <span class="govuk-!-font-weight-bold" *ngIf="model.schoolType === 'Maintained'">{{settings.maintainedTerm}}</span>
        <span class="govuk-!-font-weight-bold" *ngIf="model.schoolType === 'Academy'">{{settings.academyTerm}}</span>
         performance and finance data</span>
    </p>

    <div class="govuk-grid-row hide-in-print">
      <div class="govuk-grid-column-full">
        <a [routerLink]="" class="govuk-link a-button govuk-!-font-weight-bold" (click)="onDownload()">
          <img src="assets/images/download.svg" class="small-icon download-icon" alt=""/>
          <span id="downloadPage" #downloadingMessage>Download page</span>
        </a>
        <a [routerLink]="" class="govuk-link a-button govuk-!-font-weight-bold ml-4" (click)='onPrintPage()'>
          <img src="assets/images/print.svg" class="small-icon print-icon" alt=""/>
          <span>Print page</span>
        </a>
      </div>
    </div>

    <div class="govuk-grid-row govuk-body em-rank-content-wrapper">
      <div class="govuk-grid-column-full">
        <div class="em-rank-icon">
          <span class="em-rank-icon__text em-rank-text--{{model.rank}}">{{model.rank}}</span>
        </div>
        <div id="emRankContent" class="em-rank-content">
          <span id="emRankContent-1" class="govuk-!-font-size-24 govuk-!-font-weight-bold">This school's efficiency metric rank is
            {{model.rank}}
          </span>
          <br>
          <span id="emRankContent-2">This means <span id="rankPercent" class="govuk-!-font-weight-bold">{{((model.rank) -1)*0.1  | percent}}</span> of similar
            schools get better pupil progress for a similar amount of money.
          </span>
          <a [hidden]="isMobileScreen" [routerLink]="" (click)='emTableDesktop.onScrollToSchool()' class="govuk-link" attr.aria-label="See {{model.name}}'s rank">See this school's rank</a>
          <a [hidden]="!isMobileScreen" [routerLink]="" (click)='emTableMobile.onScrollToSchool()' class="govuk-link" attr.aria-label="See {{model.name}}'s rank">See this school's rank</a>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third hide-in-print">
    <div class="links-wrapper">
      <h2 class="govuk-heading-s">About the efficiency metric</h2>
      <ul class="govuk-list govuk-body-s govuk-!-margin-bottom-6">
        <li><a class="govuk-link" routerLink='/efficiency-metric/how-it-is-calculated/{{model.urn}}'>How the efficiency metric is calculated</a></li>
        <li><a class="govuk-link" routerLink='/efficiency-metric/ways-to-improve/{{model.urn}}/{{model.name}}'>Tools to improve school's efficiency</a></li>
        <li><a class="govuk-link" routerLink='/efficiency-metric/contact-details/{{model.urn}}'>Contact details of schools in the table</a></li>
      </ul>
      <button class="govuk-button bm-button" (click)="onGotoBenchmark()">Benchmark these schools</button>
    </div>
  </div>
  <div class="govuk-grid-column-full">
    <div class="govuk-inset-text mb-0 ">
          Due to Covid-19 the Government is not publishing the school educational performance data for 2020. This Efficiency Metric shows financial and school data relevant to the published 2019 performance data.
    </div>
  </div>
</div>

<app-em-table-desktop [isDesktopPdfInProgress]='isDesktopPdfInProgress' [isMobilePdfInProgress]='isMobilePdfInProgress' [hidden]="isMobileScreen && !isMobilePdfInProgress" [model]='model' #emTableDesktop></app-em-table-desktop>

<app-em-table-mobile [hidden]="!isMobileScreen || isMobilePdfInProgress" [model]='model' #emTableMobile></app-em-table-mobile>




