@import "govuk-frontend/govuk/core/_typography.scss";

.sort-select-wrapper {
  float: left;
  margin-top: 25px;
  margin-bottom: 0;

  @include govuk-media-query($from: tablet) {
    float: right;
    margin-top: 15px;
    margin-bottom: -15px;
  }
}

.sort-select-wrapper__label {
  display: inline;
  margin-right: 5px;
}

.sort-select-wrapper__select {
  display: inline;
}

.em-rank-icon__text{
  height: 19px;
  width: 19px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  color: #ffffff;

  @include govuk-media-query($until: tablet) {
    line-height: 1.5!important;
  }
}

.school-list__item{
  margin-top: 10px;
}

.school-list__add-button{
  float: right;
  margin-bottom: 5px;
}

.continue-form, .school-count-text{
  margin-bottom: 5px;
  vertical-align: bottom;
}
.continue-button{
  margin-bottom: 0;
}

.hidden-link{
  font-size: 14px;
  cursor: default;
  color: govuk-colour("white");
  float: right;
}

.map-toggle-button{
  font-size: 19px;
  font-weight: bold;
  float: left;
  margin-top: 20px;
}

