@import "govuk-frontend/govuk/core/_typography.scss";

.results-map {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;

  @media(mobile) {
      height: 400px;
  }
}

.sort-select-wrapper {
  float: right;
  margin-top: 15px;
  margin-bottom: -15px;
}

.sort-select-wrapper__label {
  display: inline;
  margin-right: 5px;
}

.sort-select-wrapper__select {
  display: inline;
}

.em-rank-icon__text{
  height: 19px;
  width: 19px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  color: #ffffff;
}

.school-list__item{
  margin-top: 10px;
}

.school-list__add-button{
  float: right;
  margin-bottom: 5px;
}

.continue-form, .school-count-text{
  margin-bottom: 5px;
  vertical-align: bottom;
}
.continue-button{
  margin-bottom: 0;
}

.hidden-link{
  font-size: 14px;
  cursor: default;
  color: govuk-colour("white");
  float: right;
}

.filter-box {
  border: 5px solid;
  color: govuk-colour("mid-grey");
  margin-bottom: 15px;
}

.filter-box__legend {
  margin-bottom: 0;
  &:hover{
    cursor: pointer;
  }
}

.filter-box__legend__heading{
  background-color: govuk-colour("mid-grey");
  padding: 5px;
}

.filter-box__legend__count{
  background-color: govuk-colour("mid-grey");
  padding: 5px;
  @include govuk-font(14);
}

.filter-box__check-item{
  margin-left: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  border-bottom: solid 1px govuk-colour("light-grey");
}

.filter-box__check-item__label{
  font-size: 16px;
  width: 100%;
  min-width: 200px;
}

.map-toggle-button{
  font-size: 19px;
  font-weight: bold;
  float: left;
  margin-top: 20px;
}

