@media print {
  .show-in-print {
    display: block!important;
  }

  .hide-in-print {
    display: none!important;
  }

  .main-header{
     margin-top: 1em!important;
  }

  .expand-in-print{
    width: 100%;
  }

}
