/* You can add global styles to this file, and also import other style files */

// govuk-frontend
@import "govuk-frontend/govuk/all";
@import "bootstrap/scss/bootstrap";
@import "modal.scss";
@import "print.scss";

*, *::before, *::after {
    box-sizing: content-box;//changed to fix check boxes
}

img {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.italic {
  font-weight: normal;
  font-style: italic;
}

a{
  text-decoration: underline;
}

.a-button{
  text-decoration: none;
  &:visited{
    color: initial!important;
  }
  &:hover{
    text-decoration: none;
  }
}

.back-button{
  @include govuk-media-query($from: tablet) {
    margin-left: 40px;
    top: 7px;
    position: relative;
}
}

.width-one-half {
  width: 50%;
}

.edit-help-icon, .rating-help-icon img{
  width: 20px!important;
}

.small-icon{
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;
}

.download-icon, .print-icon {
  width: 24px;
}


.warning-icon{
  width: 35px;
}

.large-icon{
  margin-right: 10px;
}

.ul-two-cols{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.highlight {
  background-color: #d4357f;
  display: inline;
  padding: 2px 5px;

  span {
      color: white;
      line-height: 1.8em;
  }

  a {
      text-decoration: none;

      &:hover {
          text-decoration: underline;
          color: white;
      }
  }

  @media(mobile) {
      margin-bottom: 5px;
  }
}

span.table-cell-highlight {
    background-color: #d4357f;
    display: inline;
    padding: 2px 5px;
    color: white;
    font-weight: bold;
}

  a.table-cell-highlight {
      background-color: #d4357f;
      display: inline;
      padding: 2px 5px;
      color: white!important;
      text-decoration: none;
      font-weight: bold;
      &:hover {
          text-decoration: underline;
          color: white!important;
      }
      &:focus
      {
        color: black!important;
      }
      &:visited {
        color: white;
      }


  @media(mobile) {
      margin-bottom: 5px;
  }
}

.visually-hidden, .visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.govuk-main-wrapper
{
  padding-top: 0!important;
}

.cookie-overlay {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0px;
  left: 0px;
  opacity: .5; /* in FireFox */
  filter: alpha(opacity=50); /* in IE */
}

.govuk-breadcrumbs
{
  padding-bottom: 20px;
}

.em-rank-text--1{
  background-color: rgb(0,112,60);
}
.em-rank-text--2{
  background-color: #697E3E;
  //color: govuk-colour("black")!important;
}

.em-rank-text--3{
  background-color: #218379;
  //color: govuk-colour("black")!important;
}

.em-rank-text--4{
  background-color: #3779B3;
  //color: govuk-colour("black")!important;
}

.em-rank-text--5{
  background-color: #175B96;
  //color: govuk-colour("black")!important;
}

.em-rank-text--6{
  background-color: rgb(0,49,120);
}

.em-rank-text--7{
  background-color:rgb(76,45,146);
}

.em-rank-text--8{
  background-color: rgb(145,44,136);
}

.em-rank-text--9{
  background-color: rgb(212,54,127);
}

.em-rank-text--10{
  background-color: rgb(212,54,27);
}

.infowindow-school-summary {
  padding: 5px;

  a {
      font-weight: bold;
      font-size: 14px;
      color: link-colour;
  }

  p {
      margin: 0 0 1px 0 !important;
      font-size: 14px;
  }

  button {
      margin-bottom: 5px;
      margin-top: 5px;
      font-size: 14px;
  }
}

.filter-box {
  border: 5px solid;
  color: govuk-colour("light-grey");
  margin-bottom: 15px;
}

.filter-box__legend {
  margin-bottom: 0;
  &:hover{
    cursor: pointer;
  }
}

.filter-box__legend__heading{
  background-color: govuk-colour("light-grey");
  padding: 5px 1px;
  width: 100%;

  @include govuk-media-query($from: desktop) {
    padding: 5px;
    width: auto;
  }
}

.filter-box__legend__count{
  @include govuk-font(14);
  background-color: govuk-colour("light-grey");
  padding: 5px 1px;
  width: 100%;

  @include govuk-media-query($from: desktop) {
    padding: 5px;
    width: auto;
  }
}

.filter-box__check-item{
  margin-left: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  border-bottom: solid 1px govuk-colour("light-grey");
}

.filter-box__check-item__label{
  font-size: 16px;
  width: 100%;
  min-width: 200px;
}

.intro-list-p{
  margin-top: 1em;
  margin-bottom: 2em;
}

.intro-formula{
  margin-top: 1em;
  display: block;
}

.govuk-list li {
  @include govuk-media-query($until: tablet) {
    margin-bottom: 15px!important;
  }
}

.score {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  padding: .6em;
  line-height: 14px;
  margin: 0 0 0 1em;

  &.well-below {
    background-color: #df3034;
    color: #fff;
  }

  &.below {
    background-color: #f47738;
    color: #0C0C0C;
  }

  &.average {
    background-color: #ffbf47;
  }

  &.above {
    background-color: #85994b;
    color:#0C0C0C;
  }

  &.well-above {
    background-color: #006435;
    color: #fff;
  }
}

.govuk-template__body {
  @include govuk-media-query($until: tablet) {
    font-size: 14px;
  }
}

.filter-toggle-button{
  float: right;
  color: govuk-colour("black");
  text-decoration: none;
  border: none;
  font-weight: bold;
  background-color: govuk-colour("light-grey");
}

