/* You can add global styles to this file, and also import other style files */

// govuk-frontend
@import "govuk-frontend/govuk/all";

.highlight {
  background-color: #d53880;
  display: inline;
  padding: 5px 5px;

  span {
      color: white;
      line-height: 1.8em;
  }

  a {
      text-decoration: none;

      &:hover {
          text-decoration: underline;
          color: white;
      }
  }

  @media(mobile) {
      margin-bottom: 5px;
  }
}

.govuk-main-wrapper
{
  padding-top: 0;
}

.govuk-breadcrumbs
{
  padding-bottom: 20px;
}
