<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/school/detail?urn={{urn}}">{{schoolName}}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/efficiency-metric/how-it-works">How the efficiency metric works</a></li>
  </ol>
</div>
<h1 class="govuk-heading-xl">Efficiency Metric</h1>
<p class="govuk-body-s">
  Results for
  <span class="highlight">
    <span class="govuk-!-font-weight-bold">{{schoolName}}</span>
  </span>
</p>
