<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{settings.sfbDomain}}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{settings.sfbDomain}}/school/detail?urn={{urn}}">{{name}}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" routerLink="/efficiency-metric/how-it-works/{{urn}}/{{name}}">Introduction to the efficiency metric</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" routerLink="/efficiency-metric/metric/{{urn}}">Efficiency metric</a>
    </li>
  </ol>
</div>
